@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />


<div class="container pt-3">
       
    <div class="row">
        <div class="col-lg-8">
            <h1>دسته بندی ها : </h1>
        </div>

        <div class="col-lg-4 text-end">
            <a class="btn btn-block btn-success" asp-controller="Category" asp-action="Create">
                ساخت دسته بندی <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>

    
        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام</th>
                    <th scope="col">ترتیب نمایش</th>
                    <th scope="col">زمان ساهت</th>
                    <th scope="col">فعالیت ها</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category category in Model)
                {
                    <tr>
                    <th width="10%" scope="row"><a asp-controller="Category" asp-action="Show" asp-route-id="@category.Id">@category.Id</a></th>
                        <td width="60%">@category.Name</td>
                        <td width="10%">@category.DisplayOrder</td>
                        <td width="10%">@category.CreatedDate</td>
                        <td width="10%">
                            <div class="w-75 btn-group" role="group">
                                <a class="btn btn-block btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">حذف <i class="bi bi-file-earmark-x"></i></a>
                                <a class="btn btn-block btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">ویرایش<i class="bi bi-pencil"></i></a>
                            </div>
                        </td>
                </tr>
                }
            </tbody>
        </table>
</div>
